[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
absl-py = "*"
astor = "*"
click = "*"
cython = "*"
dlib = "*"
face-recognition = "*"
face-recognition-models = "*"
flask = "*"
gast = "*"
grpcio = "*"
h5py = "*"
hdbscan = "*"
itsdangerous = "*"
jinja2 = ">=2.10"
keras-applications = "*"
keras-preprocessing = "*"
markdown = "*"
markupsafe = "*"
mock = "*"
numpy = "*"
opencv-python = "*"
pbr = "*"
pillow = "*"
protobuf = "*"
scikit-learn = "*"
scipy = "*"
six = "*"
tensorboard = "*"
tensorflow = "*"
tensorflow-estimator = "*"
termcolor = "*"
werkzeug = "*"
flask-cors = "*"
facenet = "*"
gunicorn = "*"
imutils = "*"

[requires]
python_version = "3.7"
